// imprt fonts
@font-face {
    font-family: quicksand;
    src: url('./Assets/fonts/Quicksand_font/Quicksand-VariableFont_wght.ttf');
}

// Color pallate
$colorBlack: #1F1F1F;
$colorGray: #504a5d;
$colorGreen: #005B41;
$colorPitch: #008170;
$colorFont: #ffffff;

$onhoverTextColor: #c5c5c5;

// Font sizes
$fontXS: 10px;
$fontSmall: 12px;
$fontMedium: 14px;
$fontLarge: 16px;
$fontXL: 24px;

//Center element
@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

// CSS
body {
    font-family: quicksand;
    color: $colorFont;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

.navbar-wrapper {
    background-color: $colorBlack;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;

    .pic-wrapper {
        @include center-content;
        gap: 10px;
    }

    .pic-wrapper #hamburger {
        cursor: pointer;
    }

    .pic-wrapper #profilePicture {
        height: 30px;
        width: 30px;
        border-radius: 100%;
        border: 2px solid black;
    }

    .username {
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            color: $onhoverTextColor;
        }
    }
}

.sidebar-wrapper {
    background-color: $colorBlack;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    min-width: 215px;
    max-width: 250px;
    padding: 5px 7px;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        font-size: $fontLarge;
        margin-bottom: 4px;
        padding: 6px;
        border-radius: 4px;
        display: flex;
        align-items: center;

        svg {
            display: inline;
            height: $fontLarge;
            margin-right: 10px;
            fill: white;
        }
    }
}

.active-sidebar {
    background-color: $colorGray;
}

.content-wrapper {
    color: black;
    box-sizing: border-box;
    padding: 2em 2em;
    background-image: url('./Assets/images/content-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sub-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-datetime {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;

    .myday {
        color: $colorFont;

        h2 {
            margin: 0px;
            padding: 0px;
            margin-bottom: 8px;
        }
    }

    .more-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        span {
            background-color: $colorGray;
            padding: 4px;
            display: flex;
            align-items: center;

            svg {
                height: $fontLarge;
                fill: $colorFont;
            }
        }

        :last-child {
            background-color: transparent;
        }
    }
}

.content-task {
    overflow-y: auto;

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            background-color: rgba(80, 74, 93, 0.9);
            color: $colorFont;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6px;
            border-radius: 4px;
            font-size: $fontMedium;

            span{
                @include center-content();
            }

            svg {
                height: $fontMedium;
                fill: $colorFont;
                border: 2px solid $colorFont;
                border-radius: 100%;
                padding: 3px 4px;
                margin-right: 10px;
                cursor: pointer;
            }

            .task-delete-button{
                border: none;
                border-radius: 0;
                margin: 0px;
            }

            .task-edit-button{
                border: none;
                border-radius: 0;
                margin: 0px;
                margin-right: 10px;
            }
        }
    }
}

.content-addtask {
    background-color: $colorGray;
    margin-top: auto;
    display: flex;
    padding: 5px;
    opacity: 0.9;
    border-radius: 3px;

    span {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        svg {
            height: $fontXL;
            fill: $colorFont;
            margin-right: 6px;
        }
    }

    #add-task-input {
        width: 100%;
        background-color: $colorGray;
        color: $colorFont;
        font-size: $fontLarge;
        padding: 8px;
        border: none;

        &::placeholder {
            color: $colorFont;
            opacity: 0.6;
        }

        &:focus {
            outline: none;
        }
    }
    #cancel-edit-button{
        display: none;
    }
}

.completed-task {
    text-decoration: line-through;
}

// Media queries
// ======= Laptop view =======
@media only screen and (min-width: 768px) {
    #hamburger {
        display: none;
    }
}

// ======= Tablate view =======
@media only screen and (min-width: 300px) and (max-width:768px) {
    .content-wrapper {
        margin-left: 0 !important;
    }

    #hamburger {
        display: block;
    }
}

// ======= Mobile view =======
@media only screen and (max-width: 300px) {}