/* ========== Custom fonts ========== */
@font-face {
    font-family: "quicksand";
    src: url("../assets/Quicksand_font_1/Quicksand-VariableFont_wght.ttf");
}

/* ========== Utility Classes ========== */
.d-flex {
    display: flex;
}


.d-none {
    display: none;
}

.d-block {
    display: block;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.align-center {
    align-items: center;
}

/* ========== ANimations for popup ========== */
@keyframes popup-open {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

/* ========== Login Page CSS ========== */
body {
    margin: 0;
    padding: 0;
    font-family: quicksand;
}

.body-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #25313F;
    background-image: url("../assets/header_pattern_image.png");
    background-size: cover;
    width: 100%;
    filter: brightness(80%);
    opacity: 1;
    display: flex;
    justify-content: space-between;
}

.nav-logo-wrapper {
    display: flex;
    padding: 18px 0px;
    align-items: center;
    margin-left: 24px;
}

.nav-logo {
    height: 34px;
}

nav ul {
    gap: 32px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-right: 32px;
}

nav ul li {
    /* background-color: green; */
    color: #3FD28B;
    display: flex;
    margin: 0px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.navlink-active-border {
    border-bottom: 4px solid #ffffff;
    color: #ffffff;
}

#notification-icon{
    fill: #8DDC97;
}

#notification-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 315px;
    background-color: #FFFFFF;
    max-height: 582px;
    text-transform: none;
}

.all-notification-wrapper {
    max-height: 534px;
    overflow-y: auto;
}

.all-notification-wrapper::-webkit-scrollbar {
    width: 6px;
}

.all-notification-wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.38); 
    border-radius: 10px;
}

.notification-wrapper {
    padding: 16px;
    border-bottom: 1px solid #2222221F;
}

.noti-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.noti-text-content {
    color: #222222;
    font-size: 14px;
}

.noti-banned-wrapper svg {
    width: 15px;
    fill: #1F7A54;
    rotate: -45deg;
}

.noti-checkmark-wrapper {
    background-color: #1F7A54;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    padding: 0px 1px;
}

.noti-checkmark-wrapper svg {
    fill: #FFFFFF;
    height: 15px;
    width: 15px;

}

.not-course{
    color: #222222;
    margin-top: 8px;
    font-size: 12px;
}

.not-course span{
    color: #6E6E6E;
}

.noti-datetime {
    color: #6E6E6E;
    font-size: 12px;
    margin-top: 8px;
    display: flex;
    flex-direction: row-reverse;
}


#announcement-icon{
    fill: #8DDC97;
}

#announcement-menu {
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    right: 0;
    width: 315px;
    max-height: 582px;
    text-transform: none;
}

.all-announcement-wrapper {
    max-height: 534px;
    overflow-y: auto;
    background-color: #FFFFFF;
}

.all-announcement-wrapper::-webkit-scrollbar {
    width: 6px;
}

.all-announcement-wrapper::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.38); 
    border-radius: 10px;
}

.announcement-checkmark-wrapper {
    background-color: #1F7A54;
    height: 18px;
    width: 15px;
    border-radius: 100%;
}

.announcement-checkmark-wrapper svg {
    fill: #FFFFFF;
}

.announcement-banned-wrapper {
    height: 18px;
    width: 15px;
}

.announcement-banned-wrapper svg {
    fill: #1F7A54;
}

.announcement-wrapper {
    padding: 16px;
    border-bottom: 1px solid #2222221F;
}

.aanouncement-name-div {
    color: black;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

.aanouncement-name-div span span {
    color: #6E6E6E;
}

.announcements-text {
    color: #000000;
    font-size: 14px;
    margin-top: 8px;
}

.attch-file-logo {
    align-items: center;
}

.attch-file-logo svg {
    height: 12x;
    width: 12px;
    fill: #6E6E6E;
    rotate: -45deg;
}

.annuncement-date-time {
    color: #6E6E6E;
    margin-top: 8px;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.announcement-course {
    color: #6E6E6E;
    font-size: 12px;
    margin-top: 8px;
}

.remaining-announcement {
    background-color: #FFFFEE;
}

.button-divider {
    margin: 9px 0px;
    width: 1px;
    border-right: 1px solid #0000001F;
}

.buttons-wrapper {
    display: flex;
    box-shadow: 0px 1px 6px #0000003D;
}

.buttons-wrapper:first-child {
    border-right: 1px solid black;
}

.announcement-popup-button {
    color: #1F7A54;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
    text-transform: uppercase;
    /* border-right: 1px solid red; */
}

.count-wrapper {
    position: relative;
}

.count {
    background-color: #2A7FF3;
    color: #FFFFFF;
    font-size: 12px;
    top: 18px;
    right: -5px;
    position: absolute;
    padding: 0px 5px;
    border-radius: 50%;
}

.count-profile {
    background-color: #FFFFFF;
    color: #000000;
    font-size: 12px;
    top: 18px;
    right: -5px;
    position: absolute;
    padding: 0px 6px;
    border-radius: 50%;
}

.profile-img-wrapper {
    border: 2px solid black;
    border-radius: 50%;
}

.profile-img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 2px solid #3FD28B;
}

#hamburger{
    fill: #3FD28B;
}
.hamburger-wrapper {
    position: relative;
}

#hamburger-drop-down {
    z-index: 1;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    top: 100%;
    width: 280px;
    box-shadow: 0px 13px 20px #0000003D;
}

#hamburger:hover+#hamburger-drop-down {
    display: block;
}

.hamburger-drop-down ul {
    width: 280px;
}

.hamburger-drop-down ul li {
    display: block;
}

.has-sublist div svg {
    float: right;
}

.no-sublist {
    padding: 15px 16px;
}

.main-list {
    padding: 15px 16px;
}

.sublist {
    padding: 15px 0px;
    margin-left: 32px;
}

.open-submenu {
    background-color: #F3F3F3;
}

.normal-navlink {
    font-size: 14px;
    color: #1F7A54;
    text-transform: uppercase;
    padding: 16px 16px;
    opacity: 1;
}

.form-section {
    background-color: #EEEEEE;
    height: 100%;
    padding: 50px 0px 32px 0px;
}

.form-wrapper {
    background-color: #FFFFFF;
    border-top: 4px solid #3AC7EC;
    border-radius: 2px;
}

.form-heading {
    color: #222222;
    margin-top: 20px;
    padding: 0px 126px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    position: relative;
}

.form-back-button {
    width: 17px;
    position: absolute;
    left: 32px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-element-wrapper {
    margin: 0px 32px;
}

.radio-wrapper {
    margin-top: 32px;
    display: flex;
}

.radio-button {
    display: flex;
    align-items: center;
}

.radio-button-img {
    height: 24px;
}

.radio-lable {
    font-size: 16px;
    margin-left: 8px;
    color: #333333;
}

#school-radio {
    margin-left: 32px;
}

.list-wrapper {
    margin-top: 23px;
}

.list-label {
    color: #666666;
    font-size: 12px;
}

.list {
    color: #222222;
    display: block;
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.username-wrapper {
    margin-top: 56px;
}

.form-text {
    width: 100%;
    height: 25px;
    font-size: 16px;
    font-family: inherit;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.forgot-wrapper {
    color: #1F7A54;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
}

#password {
    margin-top: 33px;
}

.rememberme-checked {
    height: 24px;
}

.remember-wrapper {
    color: #222222;
    font-size: 16px;
    margin-top: 25px;
}

.login-button-container {
    padding: 14px 0px;
    margin: 20px 0px 10px 0px;
}

.login-button {
    background-color: #3FD28B;
    color: #1F2834;
    text-transform: uppercase;
    font-family: quicksand;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 85px;
    border: none;
}

.footer-wrapper {
    background-color: #EEEEEE;
    flex-direction: column;
}

.footer-quick-link-wrapper {
    color: #1F7A54;
    font-size: 14px;
    margin-bottom: 16px;
}

.copyright-wrapper {
    background-color: #E0E1E1;
    color: #616161;
    width: 100%;
    font-size: 12px;
    padding: 8px 0px;
}

.footer-logo-wrapper {
    padding: 0px 16px;
    border-right: 1px solid #0000001F;
}

.copyright-text-wrapper {
    padding: 0px 16px;
}

.footer-text {
    padding: 0px 0px 0px 8px;
}

/* ========== Dashboard styling ========== */
.dashboard-wrapper {
    z-index: -2;
    padding: 24px 24px;
    background-color: #EEEEEE;
}

.sub-nav {
    background-color: #8DDC97;
    display: flex;
}

.sub-nav div {
    color: #222222;
    display: flex;
    flex: 1;
    padding: 22px 0px;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}

.sub-nav div:first-child {
    border-bottom: 4px solid #222222;
}

.sub-nav img {
    width: 21px;
}

.sub-nav span {
    font-size: 24px;
    font-weight: bold;
    margin: 0px 8px;
}

.sort-wrapper {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.result-text {
    color: #686868;
    font-size: 12px;
}

.sort-wrapper div select {
    color: #333333;
    background-color: transparent;
    padding-right: 54px;
    margin-right: 24px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-size: 16px;
}

.sort-wrapper div img {
    width: 12px;
}

.courses-card-wrapper {
    margin: 16px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
}

.p-relative {
    position: relative;
}

.card {
    z-index: -1;
    background-color: #FFFFFF;
    padding: 24px 24px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content-wrapper {
    display: flex;
    width: 100%;
    gap: 16px;
}

.maks-img {
    width: 132px;
}

.card-text-wrapper {
    flex: 1;
}

.card-heading {
    margin-bottom: 8px;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.card-heading h4 {
    padding: 0;
    margin: 0;
}

.course-specification-wrapper {
    color: #666666;
    font-size: 12px;
}

.course-specification-wrapper strong {
    color: black;
}

.course-specification-1 {
    margin: 0px 0px 7px 0px;
    padding: 0px;
}

.course-specification-2 {
    margin: 0px 0px 16px 0px;
    padding: 0px;
}

.card-list-wrapper {
    margin-top: 18px;
}

.card-list-wrapper select {
    background-color: transparent;
    color: #222222;
    display: block;
    width: 100%;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.course-enrollment {
    color: #666666;
    margin-top: 8px;
    font-size: 12px;
}

.expired {
    background-color: #FFE4E6;
    padding: 3px 5px;
    color: #D80000;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
}

.seprator {
    color: #666666;
    width: 100%;
    margin: 16px 0px;
}

.card-icon-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-icon-blur {
    opacity: 40%;
    cursor: default;
}

/* ========== Media quaries for responsiveness ========== */
@media (max-width:778px) {
    .d-tablate-visible {
        display: flex;
    }

    .d-big-visible {
        display: none;
    }

    .courses-card-wrapper {
        grid-template-columns: 1fr;
    }
}

@media (min-width:778px) {
    .d-tablate-visible {
        display: none;
    }

    .d-big-visible {
        display: flex;
    }
}